[user]
	email = simon@hiddencode.me
	name = Simon Andersson
[merge]
	tool = opendiff
[mergetool]
	keepBackup = false
[color]
	ui = true
[push]
	default = matching
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[core]
	editor = nvim
[github]
	user = hellozimi
[ghi]
	token = !security find-internet-password -a hellozimi -s github.com -l 'ghi token' -w
[credentials]
	helper = osxkeychain
[credential]
	helper = osxkeychain
[url "git@github.com:"]
    insteadOf = https://github.com/
[alias]
    unstage = reset HEAD --
    logg = log --oneline --graph
    pushf = push --force-with-lease
[commit]
    gpgsign = true
[pull]
	ff = only
