.config/yarn/*
.config/Autodesk
.config/Battle.net/Telemetry
.config/gh
.config/github-copilot
.config/litecli/log
.config/litecli/history
.config/neonctl/credentials.json
.config/pgcli/history
.config/pgcli/log
.config/planetscale
.config/raycast
.config/zed/conversations
.config/zed/embeddings
.config/zed/prompts
.config/zed/.tmp*
.config/karabiner/automatic_backups
.config/.open-ai
.config/.anthropic
.local/share
.local/state
