[user]
  email = simon@moyst.tech
  name = Simon Andersson
	signingkey = 60DC7B4718AAE0DC3ECD61CCF8EBFFEF97D82BB8
[merge]
  tool = opendiff
[mergetool]
  keepBackup = false
[color]
  ui = true
[push]
  default = matching
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  required = true
  process = git-lfs filter-process
[core]
  editor = nvim
[github]
  user = hellozimi
[ghi]
  token = !security find-internet-password -a hellozimi -s github.com -l 'ghi token' -w
[credentials]
  helper = osxkeychain
[credential]
  helper = osxkeychain
[url "git@github.com:"]
	insteadOf = https://github.com/
[alias]
  unstage = reset HEAD --
  logg = log --oneline --graph
  pushf = push --force-with-lease
  ch = "!ch() { git checkout $(git for-each-ref refs/heads/ --format='%(refname:short)' | fzf-tmux -p --reverse); }; ch"
  cor = "!checkout_by_regex() { git checkout $(git branch | grep -e \"$1\" | head -n1); }; checkout_by_regex"
  cb = "rev-parse --abbrev-ref HEAD"

[commit]
  gpgsign = true
[pull]
  ff = only
[gpg]
  program = gpg
[init]
  defaultBranch = main
